# grafana
GRAFANA_HOST={{ grafana_host }}
GRAFANA_PASSWORD={{ grafana_password }}
CHAT_ID={{ alert_bot_chat_id }}
BOT_TOKEN={{ alert_bot_token }}

# validators dashboard
NETWORK=mainnet
VALIDATORS=Uf_UnXIpRdN6jUp11NnbDyX6dTrcxhtI0AX3gfwTN0PGQqzl
PORT=8000
